{% extends 'base.html' %}

{% block title %}About Us{% endblock title %}

{% block content %}
    <div class="container text-center">
        <h2>About Little Cake Cottage</h2>
        <p>Welcome to The Little Cake Cottage, where we bake with passion and love! Our goal is to bring you the finest handmade cakes, bread, and pastries.</p>
        <p>From the moment I could hold a whisk, I have been enchanted by the art of baking. For almost 8 years, I've been crafting sweet and savory delights, pouring my heart and soul into every recipe.</p>
        <p>At Little Cake Cottage, I believe in more than just baking—it's about creating magical experiences through every bite. Each cake, pastry, and loaf is made with the finest ingredients and a sprinkle of love.</p>
    </div>
{% endblock content %}
