{% extends 'base.html' %}{% block content %}
{% load static %}


    <h1 class="post-title">{{ recipe.title }}</h1>
    <!-- Post author goes before the | the post's created date goes after -->
    <p class="post-subtitle">{{ recipe.author }} | {{ recipe.created_at }}</p>

    <div class="recipe-detail">
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        <h2>{{ recipe.title }}</h2>
        <h3>Ingredients</h3>
        <p>{{ recipe.ingredients }}</p>
        <h3>Instructions</h3>
        <p>{{ recipe.instructions }}</p>

        <div class="d-one d-md-block col-md-6 masthead-image">
            <img src=" {% static 'img/default.jpg' %}">

        </div>

        <h3>Comments</h3>
        <div class="comments">
            {% for comment in comments %}
            <div class="comment">
                <p><strong>{{ comment.user.username }}</strong>: {{ comment.content }}</p>
                <p><small>{{ comment.created_at|date:"F j, Y" }}</small></p>
                {% if user == comment.author %}
                <a href="{% url 'edit_comment' comment.id %}">Edit</a>
                <a href="{% url 'delete_comment' comment.id %}">Delete</a>
            {% endif %}
            </div>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}    
            <h3>Add a Comment</h3>
            <form method="post" action="{% url 'add_comment' recipe.id %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Submit Comment</button>
            </form>
        {% endif %}    
    </div>

{% endblock content %}